@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

.wrapper .multi_color_border{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #006847 0%, #006847 33%, 
    #ffffff 33%, #ffffff 47%, #A57F2C 47%, #A57F2C 52%, #ffffff 52%, #ffffff 66%, #CE1126 66%, #CE1126 100%)
}

.wrapper .top_nav{
    width: 100%;
    height: 65px;
    background: #621333;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_nav .left{
    display: flex;
    align-items: center;
}

.wrapper .top_nav .left .logo img{
    height: 50px;
    margin-right: 25px;
}

.wrapper .top_nav .left .search_bar input[type="text"]{
    border: 1px solid #006847;
    padding: 5px 10px;
    outline: none;
}

.wrapper .top_nav .left .search_bar input[type="text"]:focus{
    width: 250px;
}

.wrapper .top_nav .right ul{
    display: flex;
}

.wrapper .top_nav .right ul li{
    margin: 0 12px;
}

.wrapper .top_nav .right ul li a{
    display: block;
    padding: 8px 10px;
    background: #621333;
    color: #ffffff;
}

.wrapper .top_nav .right ul li a{
    color: #ffffff;
}

.wrapper .top_nav .right ul li:hover a{
    background: #A57F2C;
    color: #000000;
}

.wrapper .bottom_nav{
    width: 100%;
    background: #A57F2C;
    height: 65px;
    padding: 0 50px;
}

.wrapper .bottom_nav ul{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .bottom_nav ul li a{
    color: #ffffff;
}

/*body*/

/*inicio*/

body{
  background: var(--bg-clr);
  line-height: 20px;
  color: var(--primary-text-clr);
}

.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tc_main{
  margin: 20px 0;
  width: 100%;
  max-width: 100%;
  height: 550px;
  background: var(--white);
  text-align: justify;
  border-radius: 3px;
}

.tc_main .title{
  color: var(--title-clr);
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.tc_main .tc_content .tc_bottom .title{
  font-size: 18px;
  line-height: 26px;
}

.tc_main .tc_content{
  width: 100%;
  margin: 35px 0;
  height: calc(550px - 150px);
}

.tc_main .tc_btns{
  width: 100%;
  height: 80px;
  padding: 21px 0;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

.tc_main .tc_content .tc_top{
  margin: 0 35px 35px;
}

.tc_main .tc_content .tc_bottom{
  padding: 0 35px;
  overflow: auto;
  height: calc(100% - 210px);
}

.tc_main .tc_content .tc_top .icon{
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-clr);
}

.tc_main .tc_content .tc_top .info{
  color: var(--scn-text-clr);
}

.tc_main .tc_content .tc_bottom .info p{
  margin-top: 10px;
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
}



/*fin de inicio*/

/*principios*/

body{
  background: #621333;
}

.wrapper{
  width: 100%;
  margin: 0px auto 0;
}

.wrapper .accordion_wrap .accordion_header{
  width: 100%;
  height: 50px;
  background: #fff;
  padding: 15px;
  color: #00594c;
  font-weight: 700;
  border-bottom: 2px solid #A57F2C;
  position: relative;
  cursor: pointer;
}

.wrapper .accordion_wrap:first-child .accordion_header{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header{
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header:hover{
  border-bottom: 2px solid transparent;
}

.wrapper .accordion_wrap .accordion_header:before,
.wrapper .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background: #621333;
}

.wrapper .accordion_wrap .accordion_header:hover{
  color: #A57F2C;
  border-color: #621333;
}

.wrapper .accordion_wrap .accordion_header:hover:before,
.wrapper .accordion_wrap .accordion_header:hover:after{
  background: #A57F2C;
}

.wrapper .accordion_wrap .accordion_header:after{
  transform: rotate(-90deg);
  transition: all 0s ease;
}

.wrapper .accordion_wrap .accordion_body{
  width: 100%;
  height: 0px;
  transition: all 0s ease;
  background: #00594c;
  overflow: hidden;
  justify-content: center;
}

.wrapper .accordion_wrap .accordion_body p{
  padding: 15px;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
}

.wrapper .accordion_wrap .accordion_header.active{
  color: #621333; 
  border-color: #621333;
}

.wrapper .accordion_wrap:last-child .accordion_header.active{
  border-bottom: 2px solid #621333;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.wrapper .accordion_wrap .accordion_header.active:before,
.wrapper .accordion_wrap .accordion_header.active:after{
  background: #621333;
}

.wrapper .accordion_wrap .accordion_header.active:after{
  transform: rotate(0deg);
}

.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
  height: 100%;
}


/*fin de principios*/

/*programas*/



/*fin de programas*/

/*footer*/

body{
    background: #ffffff;
}

.footer{
    margin: 10px;
    background: #621333;
}

.footer .footer_top{
    padding: 25px 50px;
    border-bottom: 2px solid #A57F2C;
    overflow: hidden;
}

.footer .footer_down{
    display: flex;
    justify-content: center;
    padding: 25px 50px;
    color: #ffffff;
}

.footer .footer_top .footer_item{
    padding-left: 50px;
    float: left;
}

.footer .footer_top .footer_item .footer_item_1{
    padding: 0;
}

.footer .footer_top .footer_item .footer_item_1,
.footer .footer_top .footer_item .footer_item_4{
    width: 30%;
}

.footer .footer_top .footer_item .footer_item_2,
.footer .footer_top .footer_item .footer_item_3{
    width: 20%;
}

.footer .footer_top .footer_item h3{
    margin-bottom: 15px;
    color: #ffffff;
}

.footer .footer_top .footer_item ul li{
    margin: 5px;
    cursor: pointer;
    color: #ffffff;
}

.footer .footer_top .footer_item ul li:hover{
    color: #A57F2C;
}

footer .footer_top .footer_item .fa-brands fa-square-facebook icon-redes-footer,
footer .footer_top .footer_item .fa-solid fa-envelope icon-redes-footer{
    color: #006847;
}

@media screen and (max-width: 1020px){
    .footer .footer_top .footer_item{
    margin-bottom: 25px;
    padding: 0;
    }

    .footer .footer_top .footer_item .footer_item_1,
        .footer .footer_top .footer_item .footer_item_4{
            width: 100%;
        }

        .footer .footer_top .footer_item .footer_item_2,
        .footer .footer_top .footer_item .footer_item_3{
            width: 50%;
        }

}

@media screen and (max-width: 700px){
    .footer .footer_down{
        flex-direction: column;
    }

    .footer .footer_down p{
        margin-bottom: 15px;
        text-align: center;
    }

    .footer .footer_top .footer_item .footer_item_2,
        .footer .footer_top .footer_item .footer_item_3{
            width: 100%;
        }
}