.content3-container {
  display: flex;
  position: relative;
}
 
.content3-content3 {
  color: #ffffff;
}
 
.content3-fragment {
  display: contents;
}
 
.content3-text {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .content3-content3 {
    color: #fff9f9;
  }
}
 
@media(max-width: 767px) {
  .content3-content3 {
    color: #ffffff;
  }
  .content3-text {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
    text-align: center;
  }
}
